div {
  float:left;
  height:50px; <!-- si on remet la propriété height plus bas celle là va être écrassé ! -->
}
.vert {
width:80%;
background-color: #2ECC71;
}
.bleu {
width:20%;
background: #2980B9;
}
.rouge {
height:150px;
width:34%;
background: #E74C3C;
}
.orange {
height:75px;
width:33%;
background: #E67E22;
}
.gris {
height:75px;
width:33%;
background: #95A5A6;
}
.jaune {
height:75px;
width:22%;
background: #F39C12;
}
.turquoise {
height:75px;
width:22%;
background: #16A085;
}
.orangefoncé {
height:75px;
width:22%;
background: #D35400;
}
.bleufoncé {
height:170px;
width:100%;
background: #2C3E50;
}
